page {
  font-size: 24px;
  line-height: 1.6;
  padding-bottom: env(safe-area-inset-bottom);
}
scroll-view,view {
  box-sizing: border-box;
}
#app {
  font-size: 24px;
  line-height: 1.6;
  box-sizing: border-box;
}
